h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 15vh;
  color: white;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-size: 10vh;
  color: #51D0DE;
}
h3{
  font-family: 'Roboto', sans-serif;
  font-size: 5vh;
  color: white;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  color: black;
}
.tinted{
  opacity: 0.8;
  background-image: url("https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1167&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.overalldiv{
  border-radius: 5px;
  display: inline-block;
  background-color: gold;
  padding: 20px;
  width: 20vw;
  height: 20vh;
}
*{
  margin: 0;
}
#clip{
  /*
  Ensure background is added first
  */
  background-image: linear-gradient(to bottom right, white, gold, black);
   background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  text-align: center;
}
.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 2vh;
	font-family: 'Roboto', sans-serif;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.niceButton{
  border-radius: 15px;
  background-color: gold;
  color: white;
  font-family: 'Roboto', sans-serif;
  border: 2px solid gold;
}
.niceButton:hover{
  background-color: white;
  color: gold;
}
section{
  width: 100vw;
  display: inline-block;
}
